// Imports
@import '../../../sass/imports.sass'

// Picture
.profilePicture
  float: left

  height: 150px
  width: 150px

  background-position: center
  background-size: cover

  border-radius: 50%

  cursor: pointer

  +shadow(0, 1px, 5px, 0, 0.5)

  &:hover
    +shadow(0, 2px, 10px, 0, 0.5)

// Full picture
.profileFullPicture
  position: fixed

  z-index: 2

  margin: auto

  top: 0
  right: 0
  bottom: 0
  left: 0

  background: center no-repeat rgba(0, 0, 0, 0.5)
  background-size: contain

  cursor: pointer