<!-- Template -->
<template>
  <div>
    <!-- No image -->
    <div
      v-if="!path"
      @click="setPictureLink"
      class="profilePicture"
      :style="{ 'background-image': 'url(/images/no-picture.svg)' }"
    />

    <!-- Image -->
    <div
      v-if="path"
      @click="fullPicture"
      class="profilePicture"
      :style="{ 'background-image': 'url(' + urlThumbnail + ')' }"
    />

    <!-- Full image -->
    <transition name="fade">
      <div
        @click="fullPicture"
        :style="{ 'background-image': 'url(' + urlImage + ')' }"
        v-if="full"
        class="profileFullPicture"
      />
    </transition>
  </div>
</template>

<!-- Logic -->
<script src="./profile-picture.js"></script>

<!-- Style -->
<style lang="sass" src="./profile-picture.sass"></style>
