<template>
    <div>
        <form class="searchForm">
            <input aria-label="Query" @keyup="search()"
                   class="searchForm-input"
                   v-model="query" type="text" placeholder="Start typing...">
        </form>

        <section class="horizontalList listOfProfiles" v-if="people.length">
            <a class="horizontalList-element" :href="`/profile/${person.id}`" v-for="person in people">
                <profile-picture :path="person.picture" type="list"></profile-picture>
                <span>{{ person.name }}</span>
            </a>
        </section>

    </div>
</template>

<script src="./friend-searcher.js"></script>

<style></style>