<!-- Template -->
<template>

    <!-- Message block wrapper -->
    <div class="messageBlock" :class="{'messageBlock-visible': !fold}">

        <!-- Header (block) -->
        <header @click="handleFold" v-if="$route.name === 'profile'">
            <span class="messageBlock-status" :class="{'messageBlock-online': online}">Messages</span>
            <span class="messageBlock-fold">{{ fold ? '▢' : '—' }}</span>
        </header>

        <!-- Header (page) -->
        <header @click="handleBack" v-else>
            <span class="backLink">Back to dialogues</span>
        </header>

        <!-- Main -->
        <main v-show="!fold">

            <!-- Messages -->
            <div class="messageBlock-messages">
                <message-element
                        v-for="message in messages"
                        :auth-id="parseInt(authId)"
                        :data="message"
                        :key="message.id"
                        :scroll="scroll"
                        :scrolled="scrolled"
                        :top="top"
                        :bottom="bottom">
                </message-element>
            </div>

        </main>

        <!-- Footer -->
        <footer v-show="!fold">

            <!-- Form -->
            <form class="messageBlock-form" @submit="handleSubmit">

                <!-- Textarea -->
                <textarea
                        rows="5"
                        aria-label="Message"
                        placeholder="Message..."
                        id="messageBlock-text"
                        v-model="body">
                </textarea>

                <!-- Button -->
                <button class="messageBlock-submit" type="submit"></button>

            </form>

        </footer>

    </div>

</template>

<!-- Logic -->
<script src="./message-form.js"></script>