@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic,cyrillic-ext,latin-ext");
* {
  font-family: "Roboto Condensed", sans-serif;
  outline: none;
  transition: box-shadow 125ms; }

body {
  margin: 0;
  background-color: #303030;
  color: white; }

button {
  cursor: pointer; }
  button a {
    text-decoration: none; }

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 256px;
  min-height: 100%;
  overflow: auto;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }

.button {
  display: block;
  padding: 8px;
  background-color: #00ccff;
  border: 0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 1.125em;
  transition: background-color 125ms, box-shadow 125ms, color 125ms;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }

.button:hover {
  background-color: white;
  color: #00ccff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }

.delete-button {
  display: inline-block;
  margin-left: 8px;
  width: auto;
  background-color: #ff6666;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }

.delete-button:hover {
  color: #ff6666; }

a:link, a:visited {
  color: white;
  transition: 125ms; }

a:hover {
  color: #00ccff; }

nav.left-navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 256px;
  background-color: #181818;
  overflow: hidden; }
  nav.left-navigation a {
    display: block;
    margin: 20px 0;
    padding: 20px 20px 20px 64px;
    width: 100%;
    background: left no-repeat;
    background-size: contain;
    box-sizing: border-box;
    color: white;
    font-size: 1.125em;
    font-weight: bold;
    text-decoration: none;
    transition: box-shadow 125ms, background-color 125ms; }
  nav.left-navigation a:hover {
    background-color: #202020;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }
  nav.left-navigation a.active {
    position: relative;
    z-index: 1;
    background-color: #303030;
    background-size: contain;
    border-left: #00ccff thick solid;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }
  nav.left-navigation a.adverts {
    background-image: url("/images/icons/adverts.svg"); }
  nav.left-navigation a.feed {
    background-image: url("/images/icons/feed.svg"); }
  nav.left-navigation a.profile {
    background-image: url("/images/icons/profile.svg"); }
  nav.left-navigation a.friends {
    background-image: url("/images/icons/friends.svg"); }
  nav.left-navigation a.bookmarks {
    background-image: url("/images/icons/bookmarks.svg"); }
  nav.left-navigation a.logout {
    background-image: url("/images/icons/logout.svg"); }
  nav.left-navigation a.login {
    background-image: url("/images/icons/login.svg"); }
  nav.left-navigation a.register {
    background-image: url("/images/icons/register.svg"); }
  nav.left-navigation a.communities {
    background-image: url("/images/icons/communities.svg"); }
  nav.left-navigation a.bands {
    background-image: url("/images/icons/note.svg"); }

a.add-post {
  background-image: url("/images/icons/add-post.svg"); }

a.add-advert {
  background-image: url("/images/icons/add-advert.svg"); }

div.wrapper {
  padding: 32px 32px 64px;
  max-width: 768px;
  margin: auto;
  box-sizing: border-box; }
  div.wrapper h1 {
    margin: 0.67em auto;
    font-weight: normal; }

form {
  margin: auto;
  width: 100%;
  max-width: 256px;
  box-sizing: border-box; }
  form input, form select, form textarea {
    padding: 5px 0;
    background: none;
    border: 0;
    border-bottom: solid 2px;
    border-bottom-color: #00ccff;
    border-radius: 2px;
    color: white;
    font-size: 1em;
    transition: border-bottom-color 125ms; }
  form input:hover, form input:focus, form textarea:hover, form textarea:focus {
    border-bottom-color: white; }
  form input, form label {
    display: block;
    box-sizing: border-box;
    color: white; }
  form input[type="checkbox"], form input[type="radio"] {
    margin: 0;
    padding: 0;
    height: 11px;
    width: 11px;
    cursor: pointer;
    opacity: 0; }
  form button, form input, form textarea {
    width: 100%; }
  form label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.125em; }
  form textarea {
    resize: none; }
  form div.form-group {
    margin-bottom: 30px; }
  form div.form-group:last-of-type {
    margin-bottom: 0; }
  form .alert input, form .alert textarea {
    border-bottom-color: #ff6666; }
  form .alert div.error {
    margin-top: 16px;
    color: #ff6666; }
  form div.custom-checkbox, form div.custom-radio {
    display: inline-block;
    margin-right: 5px;
    height: 11px;
    width: 11px;
    border: solid 2px #00ccff; }
  form div.custom-checkbox {
    border-radius: 2px; }
  form div.custom-radio {
    border-radius: 50%; }
  form div.custom-checkbox.checked {
    background: #00ccff url("/images/checked.svg") center; }
  form div.custom-radio.checked {
    height: 5px;
    width: 5px;
    background: white;
    border: solid 5px #00ccff; }
  form div.checked {
    background-size: contain; }
  form div.checkbox label {
    margin-bottom: 0; }

ul.errorList {
  margin: 20px 0 30px;
  padding-left: 20px;
  color: #ff6666; }

form.auth a, form.auth ul.errors {
  display: inline-block;
  margin-top: 10px; }

div.list-element {
  position: relative;
  margin: 24px auto 0;
  padding: 20px;
  max-width: 768px;
  border-radius: 2px;
  box-sizing: border-box;
  transition: box-shadow 125ms;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }
  div.list-element h2 {
    display: inline-block;
    margin: 0;
    transition: color 125ms; }
  div.list-element h2:hover {
    color: #00ccff; }

div.list-element:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }

button.list-element-delete {
  position: absolute;
  padding: 0;
  top: 20px;
  right: 20px;
  height: 10px;
  width: 10px;
  background: url("/images/close.svg");
  background-size: cover;
  border: 0;
  opacity: 0.5;
  transition: opacity 125ms; }

button.list-element-delete:hover {
  opacity: 1; }

div.details {
  margin: 24px 0 48px; }
  div.details hr {
    margin: 24px 0 0 0;
    height: 1px;
    background-color: darkgray;
    border: none; }
  div.details div.profile-inf {
    float: left; }
  div.details div.profile-inf {
    padding: 30px 0; }
    div.details div.profile-inf > div, div.details div.profile-inf > h1 {
      margin: 5px 0;
      height: 20px;
      line-height: 20px; }
    div.details div.profile-inf > h1 {
      margin-top: 0;
      height: 40px;
      line-height: 40px; }
    div.details div.profile-inf > div:last-child {
      margin-bottom: 0; }

div.list-of-profiles {
  margin: 44px 0 0 0;
  border-radius: 2px;
  transition: background-color 125ms, box-shadow 125ms, color 125ms; }
  div.list-of-profiles a:link:first-of-type {
    text-decoration: none; }
  div.list-of-profiles a:hover {
    text-decoration: underline; }

div.online {
  color: #00ccff; }

div.offline {
  color: gray; }

a.red {
  color: #ff6666; }

a.red:hover {
  color: white; }

form.add {
  max-width: 512px; }
  form.add input[type="submit"] {
    margin-bottom: 0;
    padding: 5px;
    width: 128px; }

div.profile-inf h1 {
  display: inline; }

.clear {
  clear: both; }

nav.list-navigation {
  margin: auto;
  width: 100%;
  max-width: 768px; }

a.addButton {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 75px;
  width: 75px;
  background-color: #00ccff;
  border-radius: 50%;
  transition: box-shadow 125ms;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }

a.addButton:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }

a.gray-link {
  margin-left: 10px;
  color: gray;
  cursor: pointer;
  text-decoration: none;
  transition: color 125ms; }

a.gray-link:hover {
  color: #00ccff; }

nav.profile-navigation {
  margin: 48px 0; }
  nav.profile-navigation button {
    margin-right: 8px;
    padding: 16px;
    background: #202020;
    border: 0;
    border-radius: 2px;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    transition: box-shadow 125ms;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }
  nav.profile-navigation button:hover {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5); }
  nav.profile-navigation button:last-child {
    margin-right: 0; }
  nav.profile-navigation button.active {
    background: #00ccff;
    cursor: default; }

div.profile-tab h2 {
  display: inline-block; }

section {
  margin-bottom: 48px; }

.tag {
  display: inline-block;
  margin-right: 2px;
  padding: 5px;
  background: #00ccff;
  border-radius: 2px; }

.hidden {
  display: none; }

form.edit {
  max-width: 512px; }
  form.edit label {
    color: gray; }

div.custom-file {
  display: inline-block;
  position: relative; }
  div.custom-file input {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0; }

div.flash {
  position: fixed;
  right: 48px;
  bottom: 24px;
  padding: 8px;
  background: #66cc66;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5); }

div.form-group.float {
  margin-bottom: 0; }

.float {
  margin: 0 16px 0 0;
  float: left; }

.horizontal-list-element {
  float: left;
  margin-right: 24px;
  cursor: pointer; }
  .horizontal-list-element .profile-picture {
    float: none;
    margin: 0; }
  .horizontal-list-element span {
    display: block;
    margin-top: 16px;
    width: 100%;
    text-align: center; }

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.125s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

/*# sourceMappingURL=app.css.map */
