<!-- Template -->
<template>
  <form class="add form" method="POST" @submit.prevent="submit()">
    <!-- Heading -->
    <h2>Add an advert</h2>

    <section class="interfaceSection">
      <!-- Advert title -->
      <div class="form-group">
        <input aria-label="Title" name="title" placeholder="Title" v-model="title" required />
      </div>

      <!-- Advert body -->
      <div class="form-group">
        <textarea
          aria-label="Body"
          name="body"
          placeholder="Your advert's body..."
          rows="10"
          v-model="body"
          required
        />
      </div>

      <!-- Advert type -->
      <div class="form-group">
        <!-- Band -->
        <div v-if="!isBandPage" class="float customRadio">
          <input
            id="bandInput"
            name="type"
            type="radio"
            :value="!musician"
            :checked="!musician"
            @click="musician = false"
          />
          <label for="bandInput">Find a band</label>
        </div>

        <!-- Musician -->
        <div class="float customRadio">
          <input
            id="musicianInput"
            name="type"
            type="radio"
            :value="musician"
            :checked="musician"
            :disabled="bandId"
            @click="musician = true"
          />
          <label for="musicianInput">Find a musician</label>
        </div>

        <div class="clear"></div>
      </div>

      <!-- As a band checkbox -->
      <div class="form-group customCheckbox" v-if="musician && bands.length">
        <input
          class="customCheckbox-input"
          id="asBand"
          name="as"
          v-model="asBand"
          :disabled="bandId && isBandPage"
          type="checkbox"
        />
        <label class="customCheckbox-label" for="asBand">Publish as Band</label>
      </div>

      <!-- Select a band -->
      <div class="form-group" v-if="musician && bands.length && asBand">
        <select
          title="bands"
          name="band"
          v-model="bandId"
          :disabled="!asBand || !musician || isBandPage"
          aria-label="As band"
        >
          <option disabled :value="null">Choose Band</option>
          <option v-for="band in bands" :value="band.id" :key="band.id">{{ band.name }}</option>
        </select>
      </div>
    </section>

    <!-- Submit button -->
    <div class="form-group">
      <button class="button" type="submit">Publish</button>
    </div>

    <!--Rendering errors -->
    <div class="errorList">
      <div v-for="(field, key, index) in errors" :key="index">
        <!-- Field name -->
        <span>{{ key | capitalize }}:</span>

        <!-- Error list -->
        <ul>
          <li v-for="(error, index) in field" :key="index">{{ error }}</li>
        </ul>
      </div>
    </div>
  </form>
</template>

<!-- Logic -->
<script src="./add-advert.js"></script>
