<!-- Template -->
<template>

    <div>

        <!-- Heading -->
        <h1>Dialogues</h1>

        <!-- Preloader -->
        <div class="dialogueList-pending" v-if="pending">Loading...</div>

        <!-- Dialogue list wrapper -->
        <div class="dialogueList-wrapper" v-else>

            <!-- Dialogue list -->
            <router-link
                    :to="`/dialogue/${dialogue.id}`"
                    class="dialogueList-element"
                    v-for="dialogue in dialogues"
                    v-bind:key="dialogue.id">

                <!-- Left column (picture) -->
                <div class="dialogueList-left">

                    <!-- Picture -->
                    <div v-if="dialogue.picture" class="dialogueList-picture"
                         :style="{ backgroundImage: `url('/images/upload/thumbnails/${dialogue.picture}')` }">
                    </div>

                    <!-- No picture -->
                    <div v-else class="dialogueList-picture"
                         :style="{ backgroundImage: 'url(/images/no-picture.svg)' }">
                    </div>

                </div>

                <!-- Dialogue information -->
                <div class="dialogueList-right">

                    <!-- Name -->
                    <div class="dialogueList-name">{{ dialogue.name }}</div>

                    <!-- Message body -->
                    <div class="dialogueList-body">

                        <!-- Is sent by you -->
                        <span class="dialogueList-you" v-if="isYours(dialogue)">You: </span>

                        <!-- Last message text -->
                        <span>{{ dialogue.last_message.body }}</span>

                        <!-- New messages -->
                        <span class="dialogueList-new" v-if="isNew(dialogue)">new</span>

                        <!-- New messages -->
                        <span class="dialogueList-unread" v-if="isUnread(dialogue)">unread</span>

                    </div>

                    <!-- Date -->
                    <div class="dialogueList-date">{{ dialogue.last_message.created_at | creationDate }}</div>

                </div>

            </router-link>

        </div>

    </div>

</template>

<!-- Logic -->
<script src="./message-page.js"></script>