// All forms
.form
  margin: 0 auto 2em auto

  width: 100%

  max-width: 384px

  box-sizing: border-box

  // All kinds of inputs
  button, input:not([type="checkbox"]):not([type="radio"]), select, textarea
    width: 100%

// Login form
.loginForm, .registerForm
  margin: auto

  align-self: center

// Edit form
.editForm
  align-self: flex-start

  max-width: 768px

  .editForm-checkboxes
    display: flex

    flex-direction: row

    @media only screen and (max-width: 768px)
      flex-direction: column

      .customCheckbox
        margin: 0 0 1em 0

  .editForm-info label
    color: gray

// Error block
.errorBlock
  margin: 20px 0 30px
  padding-left: 20px

  color: $red

.alert
  input, textarea
    border-bottom-color: $red