// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext")

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic,cyrillic-ext,latin-ext")
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap')

// Colors
$lightGray: #182830
$regularGray: #14242c
$darkGray: #102028
$blue: #00a9e4
$red: #ff4947
$green: #46d26d
$yellow: #ffc528

// Shadow
=shadow($horizontal, $vertical, $blur, $spread, $opacity)
  -webkit-box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0, $opacity)
  -moz-box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0, $opacity)
  box-shadow: $horizontal $vertical $blur $spread rgba(0, 0, 0, $opacity)

=shadowWithColor($horizontal, $vertical, $blur, $spread, $color)
  -webkit-box-shadow: $horizontal $vertical $blur $spread $color
  -moz-box-shadow: $horizontal $vertical $blur $spread $color
  box-shadow: $horizontal $vertical $blur $spread $color