.profile
  .listElement:first-child
    margin-top: 0

.profile-tab
  margin-bottom: 2em

// Details
.details
  display: flex

  flex-direction: column

  margin: 1em 0

  .profile-inf
    margin-left: 1em

  h1, h2
    display: inline

  hr
    background-color: darkgray
    border: none

.profile-details
  flex-direction: row

  align-items: center

  &:not(.verticalList-element)
    @media only screen and (max-width: 1024px)
      flex-direction: column

      .profile-inf
        margin: 1em 0 0 0

        text-align: center