@import "imports"
@import "hamburger-settings"
@import "~hamburgers/_sass/hamburgers/hamburgers"

// All rules
*
  font-family: Poppins, sans-serif
  outline: none
  transition: box-shadow 125ms

  -webkit-appearance: none
  -webkit-text-size-adjust: none
  -webkit-overflow-scrolling: touch

html, body
  position: relative

  height: 100%

// Body
body
  margin: 0

  background-color: $lightGray

  color: white

  overflow-x: hidden

button
  cursor: pointer

  a
    text-decoration: none

// Main
main.content
  position: absolute

  top: 0
  right: 0
  bottom: 0
  left: 256px

  overflow-x: hidden

  height: 100%

  +shadow(0, 2px, 20px, 0, 0.25)

  @media only screen and (max-width: 1024px)
    left: 64px

  @media only screen and (max-width: 768px)
    left: 0

main.app-active
  right: -64px
  left: 64px

.button
  display: block

  padding: 8px

  background-color: $blue

  border: 0
  border-radius: 2px

  color: white

  cursor: pointer

  font-size: 1.125em

  transition: background-color 125ms, box-shadow 125ms, color 125ms

  +shadow(0, 1px, 5px, 0, 0.5)

.button:hover
  background-color: white
  color: $blue

  +shadow(0, 2px, 10px, 0, 0.5)

.delete-button
  width: auto
  background-color: $red

  +shadow(0, 1px, 5px, 0, 0.5)

.customFile + .delete-button
  display: inline-block
  margin-left: 8px

.delete-button:hover
  color: $red

a:link, a:visited
  color: white
  transition: 125ms

a:hover
  color: $blue

// Left navigation
.leftNavigation
  position: absolute

  top: 0
  bottom: 0
  left: 0

  width: 256px

  background-color: $darkGray

  overflow: hidden

  &::-webkit-scrollbar
    display: none

  @media only screen and (max-width: 1024px)
    width: 64px

    a:link
      padding: 0 !important

    span
      display: none

  @media only screen and (max-width: 768px)
    display: none

    a:link
      margin: 0 !important

  a:link
    position: relative

    display: block

    margin: 1em 0
    padding: 18px 18px 18px 64px

    height: 56px
    width: 100%

    background: left no-repeat
    background-size: contain

    box-sizing: border-box

    color: white

    font-size: 1.125em

    line-height: 20px

    text-decoration: none

    transition: box-shadow 125ms, background-color 125ms

  a:hover
    background-color: $regularGray
    color: white
    cursor: pointer

    +shadow(0, 8px, 12px, 0, 0.25)

  a.active
    position: relative

    z-index: 1

    background-color: $lightGray
    background-size: contain

    border-left: $blue thick solid

    +shadow(0, 12px, 18px, 0, 0.25)

  a.adverts
    background-image: url("/images/icons/adverts.svg")

  a.feed
    background-image: url("/images/icons/feed.svg")

  a.profile
    background-image: url("/images/icons/profile.svg")

  a.friends
    background-image: url("/images/icons/friends.svg")

  a.bookmarks
    background-image: url("/images/icons/bookmarks.svg")

  a.logout
    background-image: url("/images/icons/logout.svg")

  a.login
    background-image: url("/images/icons/login.svg")

  a.register
    background-image: url("/images/icons/register.svg")

  a.communities
    background-image: url("/images/icons/communities.svg")

  a.bands
    background-image: url("/images/icons/note.svg")

.leftNavigation-active
  display: block

a.addAdvert
  background-image: url("/images/icons/add-advert.svg")

a.addBand
  background-image: url("/images/icons/add-band.svg")

a.addPost
  background-image: url("/images/icons/add-post.svg")


// Friend buttons
.addFriend
  background-image: url("/images/icons/add-friend.svg")
  cursor: pointer

.cancelFriend
  background-image: url("/images/icons/cancel-friend.svg")
  cursor: pointer

.deleteFriend
  background-image: url("/images/icons/delete-friend.svg")
  cursor: pointer

.wrapper
  position: relative

  display: flex

  flex-direction: column

  margin: auto
  padding: 2em 2em 4em

  width: 100%

  min-height: 100%
  max-width: 768px

  box-sizing: border-box

  @media only screen and (max-width: 768px)
    padding: 1em 1em 2em

// Page wrapper
.pageWrapper
  width: 100%

  h1
    margin: 1em 0

    font-weight: normal

form

  option
    color: $darkGray

  select:disabled
    border-color: gray
    color: gray

  div.form-group
    margin-bottom: 30px

  div.form-group:last-of-type
    margin-bottom: 0

    div.error
      margin-top: 16px

      color: $red

  div.disabled
    border-color: gray

  div.custom-checkbox
    border-radius: 2px

// Authentication forms
form.auth
  a, ul.errors
    display: inline-block
    margin-top: 10px

.listOfProfiles
  margin: 0

  border-radius: 2px
  transition: background-color 125ms, box-shadow 125ms, color 125ms

  a:hover
    text-decoration: underline

div.online
  color: $blue

div.offline
  color: gray

a.red
  color: $red

a.red:hover
  color: white

// "Add advert" form
form.add
  max-width: 768px

  input[type="submit"]
    margin-bottom: 0
    padding: 5px
    width: 128px

// Search form
form.search
  max-width: 100%

  .button
    max-width: 128px

// Clear "both"
.clear
  clear: both

nav.list-navigation
  margin: auto
  width: 100%
  max-width: 768px

// Profile

a.gray-link
  margin-left: 10px

  color: gray
  cursor: pointer
  text-decoration: none
  transition: color 125ms

a.gray-link:hover
  color: $blue

nav.profile-navigation
  margin: 2em 0

  button
    margin: 0 .5em .5em 0
    padding: .5em

    background: $regularGray

    border: 0
    border-radius: 2px

    color: white

    font-size: 1.25em

    transition: box-shadow 125ms

    +shadow(0, 8px, 12px, 0, 0.25)

  button:hover
    +shadow(0, 12px, 18px, 0, 0.25)

  button:last-child
    margin-right: 0

  button.active
    background: $blue
    cursor: default

  @media only screen and (max-width: 1024px)

div.profile-tab
  h2
    display: inline-block

section
  margin-bottom: 2em

.tag
  display: inline-block
  margin-right: 2px
  padding: 5px
  background: $blue
  border-radius: 2px

.hidden
  display: none

// Edit profile
form.edit
  max-width: 768px

form.edit + form.edit
  margin-top: 48px

.customFile
  display: inline-block

  position: relative

  input
    display: none

    position: absolute

    margin: 0
    padding: 0

    top: 0
    right: 0
    bottom: 0
    left: 0

    opacity: 0

// Flash message block
.flash
  position: fixed

  padding: 8px

  right: 48px
  bottom: 24px

  background: $green

  border-radius: 2px

  transition: opacity 125ms

  +shadow(0, 1px, 5px, 0, 0.5)

.flash-hidden
  opacity: 0

.float
  margin: 0 16px 0 0
  float: left


// Vue.js
.fade-enter-active, .fade-leave-active
  transition: opacity 0.125s

.fade-enter, .fade-leave-to
  opacity: 0


// Pages
@import "ui"
@import "forms"
@import "profile"
@import "adverts"
@import "dialogues"
@import "search"