<!-- Template -->
<template>
  <div>
    <!-- Add form -->
    <add-post
      v-if="showForm"
      v-on:onCreate="handleCreate"
      v-bind:band-id="bandId"
      v-bind:community-id="communityId"
    ></add-post>

    <!-- Rendering adverts -->
    <div class="listElement" v-bind:key="post.id" v-for="post in posts">
      <!-- Delete button -->
      <form method="post" @submit.prevent="deletePost(post.id)" v-if="post.user.id === +authId">
        <button class="listElement-deleteButton" type="submit"></button>
      </form>

      <h2 class="listElement-heading">
        <a :href="'/post/' + post.id">{{ post.title }}</a>
      </h2>

      <p>{{ post.body }}</p>

      <div>
        Published by
        <a v-if="post.band_id" :href="'/band/' + post.band_id">{{ post.band.name }}</a>
        <a
          v-else-if="post.community_id"
          :href="'/community/' + post.community_id"
        >{{ post.community.name }}</a>
        <a v-else :href="'/profile/' + post.user_id">{{ post.user.name }}</a>
        {{ post.created_at | creationDate }}
      </div>
    </div>

    <!-- No adverts -->
    <div class="listElement-empty" v-if="!posts.length">No posts at all. :(</div>

    <!-- Add button -->
    <a v-if="editable" @click="showForm = !showForm" class="addPost addButton"></a>
  </div>
</template>

<!-- Logic -->
<script src="./posts-page.js"></script>
