<!-- Template -->
<template>
  <div class="advertsPage">
    <!-- Add form -->
    <add-advert v-if="showForm" v-bind:band-id="bandId" v-on:onCreate="handleCreate"></add-advert>

    <!-- Search form -->
    <form class="search" method="POST">
      <!-- Filters -->
      <div v-if="!bandId" class="form-group advertsPage-filters">
        <!-- All adverts radio -->
        <div class="float customRadio" @click="setFilter(null)">
          <input id="advertsRadio" name="type" type="radio" checked />
          <label for="advertsRadio">All</label>
        </div>

        <!-- Musicians radio -->
        <div class="float customRadio" @click="setFilter(0)">
          <input id="musiciansRadio" name="type" type="radio" />
          <label for="musiciansRadio">Musician</label>
        </div>

        <!-- Bands radio -->
        <div class="float customRadio" @click="setFilter(1)">
          <input id="bandsRadio" name="type" type="radio" />
          <label for="bandsRadio">Band</label>
        </div>

        <div class="clear"></div>
      </div>
    </form>

    <!-- Rendering adverts -->
    <div class="listElement" v-bind:key="advert.id" v-for="advert in filterAdverts()">
      <!-- Delete button -->
      <form
        method="post"
        @submit.prevent="deleteAdvert(advert.id)"
        v-if="advert.user.id === +authId"
      >
        <button class="listElement-deleteButton" type="submit"></button>
      </form>

      <!-- Advert heading -->
      <h2 class="listElement-heading">
        <a :href="'/advert/' + advert.id">{{ advert.title }}</a>
      </h2>

      <!-- Advert tag -->
      <p>
        <span class="tag">{{ parseInt(advert.type) ? 'band' : 'musician' }}</span>
      </p>

      <!-- Advert body -->
      <p>{{ advert.body }}</p>

      <!--  -->
      <div>
        Published by
        <a
          v-if="advert.band_id"
          :href="'/band/' + advert.band_id"
        >{{ advert.band.name }}</a>
        <a v-else :href="'/profile/' + advert.user_id">{{ advert.user.name }}</a>
        {{ advert.created_at | creationDate }}
      </div>
    </div>

    <!-- No adverts -->
    <div class="listElement-empty" v-if="!filterAdverts().length">No adverts at all. :(</div>

    <!-- Add button -->
    <a v-if="editable" @click="showForm = !showForm" class="addAdvert addButton"></a>
  </div>
</template>

<!-- Logic -->
<script src="./adverts-page.js"></script>
