<!-- Template -->
<template>
    <form class="add form" method="POST" @submit.prevent="submit()">

        <!-- Heading -->
        <h2>Add a post</h2>

        <section class="interfaceSection">

            <!-- Advert title -->
            <div class="form-group">
                <input
                        aria-label="Title" name="title"
                        placeholder="Title" value=""
                        v-model="title" required>
            </div>

            <!-- Advert body -->
            <div class="form-group">
                <textarea
                        aria-label="Body" name="body"
                        placeholder="Your advert's body..." rows="10"
                        v-model="body" required>
                </textarea>
            </div>

            <!-- As a band checkbox -->
            <div class="form-group customCheckbox" v-if="bands.length && !communityId">
                <input class="customCheckbox-input"
                       :disabled="bandId"
                       id="asBand"
                       name="as"
                       v-model="asBand"
                       type="checkbox"
                       @change="handleBandCheckboxChange"
                >
                <label class="customCheckbox-label" for="asBand">Publish as Band</label>
            </div>

            <!-- As a community checkbox -->
            <div class="form-group customCheckbox" v-if="communities.length && !bandId">
                <input class="customCheckbox-input"
                       :disabled="communityId"
                       id="asCommunity"
                       name="as"
                       v-model="asCommunity"
                       type="checkbox"
                       @change="handleCommunityCheckboxChange"
                >
                <label class="customCheckbox-label" for="asCommunity">Publish as Community</label>
            </div>

            <!-- Select a band -->
            <div class="form-group" v-if="bands.length && asBand && !communityId">
                <select
                        title="bands" name="band" v-model="authorship"
                        :disabled="!asBand || bandId"
                        aria-label="As band">
                    <option disabled value="">Choose Band</option>
                    <option v-for="band in bands" :value="band.id">{{ band.name }}</option>
                </select>
            </div>

            <!-- Select a community -->
            <div class="form-group" v-if="communities.length && asCommunity && !bandId">
                <select
                        title="communities" name="community" v-model="authorship"
                        :disabled="!asCommunity || communityId"
                        aria-label="As community">
                    <option disabled value="">Choose Community</option>
                    <option v-for="community in communities" :value="community.id">{{ community.name }}</option>
                </select>
            </div>

        </section>

        <!-- Submit button -->
        <div class="form-group">
            <button class="button" type="submit">Publish</button>
        </div>

        <!--Rendering errors -->
        <div class="errorList">
            <div v-for="(field, key) in errors">

                <!-- Field name -->
                <span>{{ key | capitalize }}:</span>

                <!-- Error list -->
                <ul>
                    <li v-for="error in field">{{ error }}</li>
                </ul>
            </div>
        </div>

    </form>
</template>

<!-- Logic -->
<script src="./add-post.js"></script>
